@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom global styles here if needed */
body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}